<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What do we do?</h2>
                <h3 class="section-subheading text-muted">Our actvites range far and wide; Look below for a taste of
                    what we do.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="Plane">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Flying</h4>
                                <h4 class="subheading">Mastering the skies</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We offer plenty of opportunities for cadets to take to the sky
                                    from experience flights to flying solo and working towards a pilots’ license</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="Cadets outdoors">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Field Craft</h4>
                                <h4 class="subheading">Surviving in the outdoors</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We’re not just about flying, we’re happy to get out and learn
                                    about camouflage, concealment, cooking and more.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="Cadets doing mapwork">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Map Reading</h4>
                                <h4 class="subheading">Finding your way in the world</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We pride our selves on teaching skills that can be used outside of
                                    cadets as well, learning to read a map and how to follow a route are important
                                    skills.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="Cadets on parade">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Drill</h4>
                                <h4 class="subheading">Teaching discipline and teamwork</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Drill is all about timing, coordination and working together in a
                                    team. It’s also useful for any cadets wanting to join the forces.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>This
                                <br>Could
                                <br>Be you!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
