<!-- Where Section -->
<section id="where" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <iframe width="100%" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=2040+Richmond&key=AIzaSyBfofeYVaJPHViB2DaF2wb7YdrBC8Q40uE" allowfullscreen></iframe>
        </div>
        <br />
        <div class="col-md-5 text-justify">
            <address>
              <strong>2040 Richmond Squadron</strong><br>
              47-49 Darlington Rd<br>
              Richmond<br>
              North Yorkshire<br>
              DL10 7BG<br>
            </address>

            <p class="text-muted">
              We're located right inside the grounds of Richmond School, just on the left as you enter the bus park.
            </p>

            <address>
              <strong>Contact Us</strong><br>
              <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a><br>
              <a href="tel:+441748821347">01748 821347</a><br>
              <span class="text-muted">(Tuesday and Thursdays - 19:00 to 21:30)</span>
            </address>
        </div>
      </div>
    </div>
</section>
