<!-- Services Section -->
    <section id="whoarewe">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who Are We?</h2>
                    <h3 class="section-subheading text-muted">We're a military youth organisation and a part of the RAF.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aviation</h4>
                    <p class="text-muted">Being part of the RAF means that we can offer unique experiences in the world of aviation, not many people can say that they've flown a plane at the age of 13.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">We offer a comprehensive training system that teaches you skills that can applied both in and outside of the RAF, for example we offer several BTEC's. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Adventure</h4>
                    <p class="text-muted">We're not always in the air, when we're on the ground we do a range of things from the Duke of Edinburgh to Sport to First Aid to Field Craft.</p>
                </div>
            </div>
        </div>
    </section>
